@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#heading {
  font-family: "Cormorant Garamond";
  text-align: center;
}

.behind {
  height: .80rem;
  width: 60vw;
  max-width: 700PX;
  position: absolute;
  z-index: -1;
  top: 165px;
  /* border-radius: .375rem; */
  background-color: #F4CCC2;
  /* background-image: linear-gradient(to right, rgb(201, 157, 201), rgb(110, 202, 224)); */
}

.slider{
  width: 80vw !important;
  padding:0 20px
}

.header{
  width: 100vw;
}

#carousel {
  width: 100%;
  display:flex;
  gap: 20px;
  overflow-x: scroll !important;
  scroll-snap-type: x mandatory;
}


#carousel div {
  width: 900px !important;
  height: 600px;
  scroll-snap-align: center;
  border: solid black 2px;
  box-sizing: border-box;
  flex-shrink: 0;
}

#recentposts{
  transition: 0.3s;
}
#recentposts:hover{
  background-color: #F3F3F3;
}

@media screen and (max-width:800px) {
  #aboutblog{
    flex-direction: column;
  }
  #aboutblog div{
    width:100% !important;
    padding-bottom: 50px;
  }
}